/* source of card images: http://acbl.mybigcommerce.com/52-playing-cards/ */

* {
  /* box-sizing: content-box; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

/* basic wrapper CSS to cover entire screen for inital screen and win screen from Michael Schmidt on
on stack overflow: https://stackoverflow.com/questions/18588835/allow-a-div-to-cover-the-whole-page-instead-of-the-area-within-the-container*/
#wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  visibility: visible;
  border: solid blue;
}

#center-board {
  display: flex;
  justify-content: space-around;
  /* border: solid pink; */
}

button {
  border-radius: 10px;
  width: 25%;
  font-size: 40px;
  font-weight: bold;
  border: solid black;
  /* text-align: center; */
}
#hit {
  visibility: visible;
}

#stand {
  visibility: visible;
}

#deck {
  /* border: solid blue; */
}

#playGame {
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  width: 50%;
  height: 25%;
  border-radius: 25px;
  border: solid black;
}


body {
  display: flex;
  flex-flow: column;
  align-content: stretch;
  justify-content: center;
  background-color: #4bbd80;


  /* border: solid black; */
}

h1 {
  background-color: #4bbd80;
  
  /* border: solid pink; */
  font-size: 40px;
  /* border: solid black; */
  justify-content: center;
  align-content: stretch;
  margin: 0;
  padding: 0;

}

#gameBoard {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  background-color: #4bbd80;
  align-self: center;
  /* border: solid black; */
}

.hand {
  display: flex;
  width: 500px;
  align-self: center;
  justify-content: center;
  /* border: solid yellow; */
}

#playerHand {

}

#dealerHand {
}

/* #deck-image {
  width: 60px;*/

#deck {
  display: flex;
  justify-content: space-around;
  /* border: solid black; */
}

.card {
  width: 80px;
  border: solid black;
  margin: 0 10px;
}

#playerDiv {
  display: flex;
  flex-flow: column-reverse;
}

#dealerDiv {
  display: flex;
  flex-flow: column;
}

h2 {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: black;
  color: white;
}

/* #info-row {
  display: flex;
  flex: column;
  align-content: center;
  align-items: center;
  justify-content: center;
} */
