/* source of card images: http://acbl.mybigcommerce.com/52-playing-cards/ */

* {
  box-sizing: content-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* basic wrapper CSS to cover entire screen for inital screen and win screen from Michael Schmidt on
on stack overflow: https://stackoverflow.com/questions/18588835/allow-a-div-to-cover-the-whole-page-instead-of-the-area-within-the-container*/
#wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  visibility: visible;
  border: solid black;
}

#center-board {
  display: flex;
  justify-content: space-around;
  border: solid pink;
}

button {
  border-radius: 10px;
  width: 25%;
  font-size: 40px;
  font-weight: bold;
  border: solid black;
}
#hit {
  visibility: visible;
}

#stand {
  visibility: visible;
}

#deck {
  border: solid blue;
}

#playGame {
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  width: 50%;
  height: 25%;
  border-radius: 25px;
  border: solid black;
}


body {
  display: flex;
  flex-flow: column;
  /* border: solid black; */
  border: solid black;
}

h1 {
  background-color: green;
  /* border: solid pink; */
  border: solid black;
}

#gameBoard {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  background-color: green;
  align-self: center;
  /* border: solid black; */
  border: solid black;
}

#dealerHand {
  display: flex;
  width: 500px;
  height: 90px;
  /* border: solid black; */
  align-self: center;
  justify-content: center;
  border: solid black;
}

/* #deck-image {
  width: 60px;
  /* border: solid black;
} */

#deck {
  display: flex;
  justify-content: space-around;
  border: solid black;
}

#playerHand {
  display: flex;
  width: 500px;
  height: 90px;
  /* border: solid blue; */
  align-self: center;
  justify-content: center;
  border: solid black;
}

.card {
  width: 80px;
  border: solid black;
}

#playerDiv {
  display: flex;
  flex-flow: column-reverse;
  /* border: solid yellow; */
}

#dealerDiv {
  display: flex;
  flex-flow: column;
  /* border: solid yellow; */
}

/* #info-row {
  display: flex;
  flex: column;
  align-content: center;
  align-items: center;
  justify-content: center;
} */
